<app-form (onAddQuote)="addNewQuote($event)"></app-form>

    <div #main class="quote-item" appMostUpvotes [isMost]="{ quote: quotes}" [ngClass]="{ highest: quote.isMostLiked}"   *ngFor="let quote of quotes; let i =index" >
    “{{quote.message}}”
    
    <div class="quote-detail-wrapper">
        <app-quote-detail [quotedescription]="quote"></app-quote-detail>
    </div>
    
    <div class="votes">
        <div class="vote-items">
            <div class="up">
                <app-button id="special"
                    color="rgba(0,0,0,0)" 
                    iconcolor="RGBA(255, 67, 0, 1)" 
                    [icontype]="upIcon"
                    (click)="upvote(i)"
                    (click)="totalVotes(i)"
                ></app-button>
                {{ quote.upvoteNo }}
            </div>
            <div class="down">
                <app-button  id="special"
                    color="rgba(0,0,0,0)" 
                    iconcolor="RGBA(147, 145, 255, 1)" 
                    [icontype]="downIcon"
                    (click)="downvote(i)"
                    (click)="totalVotes(i)"
                ></app-button>
                {{ quote.downvoteNo }}
            </div>
        </div>
        <div class="time">
            Created: {{ quote.date |timepipe }}s ago
        </div>
        <p  class="text-votes"> Total Votes: {{ quote.totalVotes }}
            <app-button
                color="rgba(0,0,0,0)"
                iconcolor="RGBA(147, 145, 255, 1)" 
                [icontype]="trash"
                (click)="delete(true, i)"
            ></app-button>
        </p>
    </div>
</div>