<app-form (onAddQuote)="addNewQuote($event)"></app-form>

<div [ngClass]="{ highest: quote.isMostLiked }"   class="quote-item" *ngFor="let quote of quotes; let i =index">
    {{quote.message}}
    <p>
        <!-- {{quote.isMostLiked}} -->
    </p>
    <div class="quote-detail-wrapper">
        <app-quote-detail [quotedescription]="quote"></app-quote-detail>
    </div>
    <div class="votes">
        <div class="vote-items">
            <div class="up">
                <app-button id="special"
                    color="rgba(0,0,0,0)" 
                    iconcolor="RGBA(255, 67, 0, 1)" 
                    [icontype]="upIcon"
                    (click)="upvote(i)"
                    (click)="totalVotes(i)"
                ></app-button>
                {{ quote.upvoteNo }}
            </div>
            <div class="down">
                <app-button  id="special"
                    color="rgba(0,0,0,0)" 
                    iconcolor="RGBA(147, 145, 255, 1)" 
                    [icontype]="downIcon"
                    (click)="downvote(i)"
                    (click)="totalVotes(i)"
                ></app-button>
                {{ quote.downvoteNo }}
            </div>
        </div>
        <div class="time">
            Created: {{ quote.date |timepipe }}s ago
            <!-- <app-button 
                    [icontype]="downIcon"
            ></app-button> -->
        </div>
        <p appMostUpvotes class="text-votes"> Total Votes: {{ quote.totalVotes }}</p>
    </div>
</div>