<form *ngIf="showQuote" #quoteForm="ngForm" (ngSubmit)="onSubmit(quoteForm)">
    <div class="form-group">
        <label for="quote">Quote</label>
        <input type="text" name="quote" [(ngModel)]="newQuote.message" #quote="ngModel" required id="quote" placeholder="Add Quote">
        <div [hidden]="quote.valid || quote.pristine" class="danger">
            <p>Quote is required</p>
        </div>
    </div>
   
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" [(ngModel)]="newQuote.author" #author="ngModel" required id="author" placeholder="Add Author">
        <div [hidden]="author.valid || author.pristine" class="danger">
            <p>Author is required</p>
        </div>
    </div>

    <div class="form-group">
        <label for="user">User</label>
        <input type="text" name="user" [(ngModel)]="newQuote.user" #user="ngModel" required id="user" placeholder="Add Your Name">
        <div [hidden]="user.valid || user.pristine" class="danger">
            <p>Your name is required</p>
        </div>
    </div>

    <input type="submit" value="Save Quote" class="btn btn-block">
</form>